body {
  background-color: #f5d9d5;
  font-family: 'Nunito', sans-serif;
}

.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
}

.mb-last {
  margin-bottom: 80px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

/* This is for the navbar animation. THe 'scrolled' calss is used with JavaScript to add that effect */
.navbar.scrolled {
  background: #dec0de;
  transition: background 500ms;
}

@media (max-width: 768px) {
  .content {
    margin-top: 50px;
  }
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 2rem;
  }
}
